@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  color: white;
  background: #50644d url("img/tomato.png") center/800px no-repeat;
  user-select: none;
}

/* <a href="https://lovepik.com/images/png-tomato.html">Tomato Png vectors by Lovepik.com</a> */
